<% provide(:title, "#{@user.username}さん#{@title}") %>
<h2><%= @user.username %>さん<%= @title %></h2>
<section>
  <% @users.each do |user| %>
    <article>
      <%= user.username %>
    </article>
  <% end %>
</section>
