<% @user ||= current_user %>
<div class="stats">
    <a href="<%= following_user_path(@user) %>">
        <strong id="following" class="stat">
            <%= @user.following.count %><br>
        </strong>
        <p class="follow">フォロー中</p>
    </a>
    <a href="<%= followers_user_path(@user) %>">
        <strong id="follow" class="stat">
            <%= @user.followers.count %><br>
        </strong>
        <p class="follow">フォロワー</p>
    </a>
</div>
