<div class="search">
    <div class="search-category">
        <h3>カテゴリーから探す</h3>
        <div class="search-category-item">
            <p>アメリカ留学</p>
            <p>ワーホリ</p>
            <p>TOEIC</p>
            <p>語学留学</p>
            <p>TOEFL</p>
            <p>就職対策</p>
            <p>カナダ留学</p>
        </div>
    </div>

    <div class="search-tag">
        <h3>タグから探す</h3>
            <div class="search-tag-item">
                <p>アメリカ留学</p>
                <p>ワーホリ</p>
                <p>TOEIC</p>
                <p>語学留学</p>
                <p>TOEFL</p>
                <p>就職対策</p>
                <p>カナダ留学</p>
            </div>
    </div>
</div>
