<div class="top">
    <div class="top-message">
        <p class="top-message-subtitle">留学に役立つ！書籍の口コミサイト</p>
        <h2 class="top-message-title">abcomi</h2>
        <p class="top-message-text">サイト説明ダミーダミーダミー<br>サイト説明ダミーダミーダミー</p>
    </div>
    <div class="top-picture"><%= image_tag "concept-1.png", class: "top-picture-image" %></div>
</div>
