<div class="posts-wrapper">
  <div class="posts-heading">
    <h2>最新の口コミ</h2>
  </div>
  <% reviews.each do |review| %>
  <div class="newest-card">
    
    <div class="newest-image-inner">
        <%= image_tag(review.user.image.url, :class => "newest-image") %>
    </div>
    <div class="newest-right">
      <div>
        <h3><%= review.user.username %></h3>
        <p><%= review.content %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>

