<footer>
  <div class="footer-inner">
    <div class="footer-wrapper">
      <h2 class="footer-title">abcomi</h2>
      <p class="footer-text">海外留学の口コミならabcomi</p>
    </div>
    <p>© Copyright 2021 abdomi All rights reserved.</p>
  </div>
</footer>
