<header class="header">
  <div class="header-wrapper">
    <h2><%= link_to "abcomi", root_path %></h2>
    <%# search %>
    <div class="header-nav-wrapper">
      <%= render 'layouts/header_left' %>
      <%= render 'layouts/header_right' %>
    </div>
  </div>
</header>
